* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.content-wrapper {
    width: 66%;
}
main {
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.carrousel {
    width: 100%;
}

.container-catalogo {
    width: 100%;
}

.main-gallery {
    background: #EEE;
  }
  
  .main-gallery .gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  .main-gallery .gallery-cell {
    display: flex;
    align-content: center;
  }

.main-gallery .gallery-cell img {
    width: 100%;
    height: auto; 
    object-fit: cover;
  }

  .catalogo-gallery .gallery-cell {
    width: 20%;
    height: 120px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }